<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id="employee" class="org.wipro.Employeeapplication.Employee">
       <property name="id" value="123" />
       <property name="name" value="sharathkumar" />
       <property name="designation" value="software engineering"/>
       <property name="salary" value="100000.00"/>

   </bean>
    <bean id="employee1" class="org.wipro.Employeeapplication.Employee">
        <property name="id" value="123" />
        <property name="name" value="sharathkumar" />
        <property name="designation" value="software engineering"/>
        <property name="salary" value="100000.00"/>
    </bean>

</beans>